apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: configservice-q
  name: configservice-q
spec:
  replicas: 1
  selector:
    matchLabels:
      app: configservice-q
  template:
    metadata:
      labels:
        app: configservice-q
    spec:
      containers:
      - name: configservice
        image: quay.io/burrsutter/configuration-service-q-jvm:1.0.4
        ports:
          - containerPort: 8080
        env:
        - name: QUARKUS_HTTP_PORT
          value: '8080'
