<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">Balloon Mania</span>
      <div class="mdl-layout-spacer"></div>
      <!-- <app-winner></app-winner> -->
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">
      <img src="app/img/Logotype_Event_RHSummit_RGB_Red.svg" alt="RedHat Summit">
    </span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" [routerLink]="['/home']" (click)="closeDrawer()"><i class="material-icons">home</i><span>Main</span></a>
      <a class="mdl-navigation__link" [routerLink]="['/game']" (click)="closeDrawer()"><i class="material-icons">games</i><span>Game</span></a>
      <a class="mdl-navigation__link" [routerLink]="['/achievements']" (click)="closeDrawer()"><i class="material-icons">stars</i><span>Achievements</span></a>
      <a class="mdl-navigation__link" [routerLink]="['/playerid']" (click)="closeDrawer()" *ngIf="gameService.currentSelfieState === 'open' || gameService.selfieAdmin"><i class="material-icons">photo_camera</i><span>Player ID</span></a>
    </nav>
  </div>
  <main class="mdl-layout__content fullheight-minus-navbar">
    <div class="page-content fullheight">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
