$achievementHeight: 48px;
$achievementMaxWidth: 300px;
$achievementMargin: 8px;
$iconHeight: $achievementHeight - 16px;
$animation-duration: 0.35s;

.standalone :host {
  bottom: $achievementMargin * 2 + 20;
}

:host {
  box-sizing: border-box;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  background-color: #002235;
  color: white;
  position: absolute;
  bottom: $achievementMargin * 2;
  left: 0;
  right: 0;
  padding: $achievementMargin;
  margin: auto;
  max-width: $achievementMaxWidth;
  height: $achievementHeight;
  border-radius: $achievementHeight;
  pointer-events: none;
  transition: opacity 200ms ease-in-out;
  opacity: 0;

  &.visible {
    opacity: 1;
    -webkit-animation-name: bouncy;
    animation-name: bouncy;
    -webkit-animation-duration: $animation-duration;
    animation-duration: $animation-duration;
  }

  .achievement__icon {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    background-color: #002a42;
    width: $iconHeight;
    height: $iconHeight;
    border-radius: $iconHeight;
    margin-right: $achievementMargin;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    color: yellow;
  }
}

@keyframes bouncy {
  0% {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
    opacity: 0 ;
  }

  50% {
    -webkit-transform: scale(1.20);
    transform: scale(1.20);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1
  }
}
