<img class="game-name loading" src="app/+game/assets/enterprise-splash-platform.svg" *ngIf="currentState === 'title'" (load)="nameLoaded($event)">
<ul class="game-score" [ngClass]="gameService.playerTeam.class" *ngIf="currentState === 'start-game' || currentState === 'play' || currentState === 'pause'">
  <li>Build <span>Canary</span></li>
  <li class="player">
    <span>{{gameService.playerUsername}} (You)</span>
    {{gameService.playerScore}}
  </li>
</ul>
<div class="game-over" *ngIf="currentState === 'game-over'">
  <div class="game-over-container">
    <h1>Game Over</h1>
    <p>
      <strong>{{gameService.playerUsername}}</strong> |
      <strong>{{gameService.playerFinalScore}}</strong> points
    </p>
    <ul class="achievement leaderboard-achievement">
      <li *ngFor="let achievement of gameService.achievements" [ngClass]="achievement.type">
        <i class="material-icons" *ngIf="achievement.type !== 'golden'">{{gameService.achievementIconsHash[achievement.type]}}</i>
        <img class="golden-balloon" src="app/+game/assets/golden.png" *ngIf="achievement.type === 'golden'">
        <div class="legend">
          <div><strong>{{achievement.desc}}</strong></div>
          {{achievement.text}}
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="reconnect" *ngIf="gameService.socketClosed">
  <p>The websocket has disconnected.</p>
  <div class="reconnect-actions">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" (click)="reconnect()" *ngIf="!gameService.reconnecting">Reconnect</button>
    <div class="mdl-spinner mdl-js-spinner is-active" *ngIf="gameService.reconnecting"></div>
  </div>
</div>
<div id="game" class="game" [ngClass]="configuration.background"></div>
<app-achievement></app-achievement>
